<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<link rel="shortcut icon" href="/favicon.ico?" type="image/x-icon">
<link rel="icon" href="/favicon.ico?" type="image/x-icon">
<link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
<div id="container">
<div class="left-col">
  <div class="overlay"></div>
  <div class="intrude-less">
    <header id="header" class="inner"> <a href="/" class="profilepic"> <img lazy-src="/images/shihua.png" class="js-avatar"> </a>
      <hgroup>
        <h1 class="header-author"><a href="/">诗华</a></h1>
      </hgroup>
      <p class="header-subtitle">且将新火试新茶。诗酒趁年华</p>
      <div class="switch-btn">
        <div class="icon">
          <div class="icon-ctn">
            <div class="icon-wrap icon-house" data-idx="0">
              <div class="birdhouse"></div>
              <div class="birdhouse_holes"></div>
            </div>
            <div class="icon-wrap icon-ribbon hide" data-idx="1">
              <div class="ribbon"></div>
            </div>
            <div class="icon-wrap icon-me hide" data-idx="3">
              <div class="user"></div>
              <div class="shoulder"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="switch-area">
        <div class="switch-wrap">
          <section class="switch-part switch-part1">
            <nav class="header-menu">
              <ul>
                <li><a href="/">主页</a></li>
                <li>所有文章</li>
              </ul>
            </nav>
          </section>
        </div>
      </div>
    </header>
  </div>
</div>
<div class="mid-col">
<nav id="mobile-nav">
  <div class="overlay">
    <div class="slider-trigger"></div>
    <h1 class="header-author js-mobile-header hide">The Future</h1>
  </div>
  <div class="intrude-less">
    <header id="header" class="inner">
      <div class="profilepic"> <img lazy-src="/images/shihua.png class="js-avatar"> </div>
      <hgroup>
        <h1 class="header-author">The Future</h1>
      </hgroup>
      <p class="header-subtitle">且将新火试新茶。诗酒趁年华</p>
      <nav class="header-menu">
        <ul>
          <li><a href="/">主页</a></li>
          <li><a href="/archives">分类列表</a></li>
          <div class="clearfix"></div>
        </ul>
      </nav>
    </header>
  </div>
</nav>
